:root {
  --index: calc(1vw + 1vh);
  --font-size: 16px;
  --line-height: 1.4;
  --item-width: 325px;
  --burger-color: black;
  --burger-color-active: white;
  --container-width: 1670px;
  --container-padding: 30px;
  --font-default: Diatype, sans-serif;
  --transition: cubic-bezier(0.445, 0.050, 0.550, 0.950);
  --transition2: cubic-bezier(0.785, 0.135, 0.150, 0.860);
  --transition3: cubic-bezier(0.715, -0.235, 0.120, 1.300);
  --bg-body: white;
  --color-body: #000000;
  --color-text: #000000;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-black2: #262424;
  --color-gray1: #E3E3E3;
  --color-gray2: #E6E6E6;
  --color-gray3: #DADADA;
  --color-gray4: #E1E1E1;
  --color-gray5: #D9D9D9;
  --color-gray: #DBDBDB;
  --color-grayLight: #DFDACC;
  --color-grayLight2: #FFFBF6;
  --color-orange: #FFF3C8;
}
@media screen and (max-width: 480px) {
  :root {
    --item-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --container-padding: 10px;
  }
}

/* responsive */
@font-face {
  font-family: "Diatype";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Diatype/ABCDiatype-Regular.woff2") format("woff2");
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none !important;
}

a {
  transition: 0.3s ease;
}
a:hover {
  opacity: 0.6;
}

input,
a {
  outline: none !important;
  color: var(--color-text);
}

button,
input,
textarea {
  font-family: var(--font-default);
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

*::-webkit-input-placeholder {
  opacity: 1;
}

*:-moz-placeholder {
  opacity: 1;
}

*::-moz-placeholder {
  opacity: 1;
}

*:-ms-input-placeholder {
  opacity: 1;
}

input:focus {
  outline: none;
}

html {
  font-size: var(--font-size);
}

body {
  background: var(--bg-body);
  font-size: var(--font-size);
  min-width: 320px;
  position: relative;
  line-height: var(--line-height);
  font-family: var(--font-default);
  font-weight: normal;
  font-style: normal;
  color: var(--color-body);
  border-top: 8px solid var(--color-blue-light);
}
@media screen and (max-width: 992px) {
  body {
    border-top: 4px solid var(--color-blue-light);
  }
}
body.no-scroll {
  overflow: hidden;
  padding-right: 15px;
}
@media screen and (max-width: 992px) {
  body.no-scroll {
    padding-right: 0px;
  }
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}

@media screen and (min-width: 480px) {
  .-md4-hidden {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  .-md3-hidden {
    display: none !important;
  }
}

@media screen and (max-width: 1280px) {
  .-md1-hidden {
    display: none !important;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  width: 100%;
  max-width: var(--container-width);
}
@media (max-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

.container-fluid {
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.burger-content {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 999;
}
.burger-content__body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.burger {
  cursor: pointer;
  display: none;
  width: 26px;
  position: relative;
  z-index: 1000;
  padding-bottom: 7.5px;
  margin-left: 20px;
}
@media screen and (max-width: 992px) {
  .burger {
    display: block;
  }
}
.burger i {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 1px;
  background: var(--burger-color);
  transition: all 0.2s ease-out;
}
.burger i::before {
  content: "";
  width: 26px;
  height: 1px;
  background: var(--burger-color);
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
  top: -9px;
}
.burger i::after {
  content: "";
  width: 26px;
  height: 1px;
  background: var(--burger-color);
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
  bottom: -9px;
}
.burger.active i {
  background: transparent;
}
.burger.active i::before {
  top: 0;
  transform: rotateZ(45deg);
  background: var(--burger-color-active);
}
.burger.active i::after {
  bottom: 0;
  transform: rotateZ(-45deg);
  background: var(--burger-color-active);
}